sudo: false
dist: trusty
language: perl
perl:
  - '5.30'
  - '5.14'

env:
  - RELEASE_TESTING = 1 
  - AUTOMATED_TESTING = 1 
  - AUTHOR_TESTING = 1
  - HARNESS_OPTIONS = "j10:c"
  - HARNESS_TIMER = 1

before_install:
  - git config --global user.name "TravisCI"

install:

  # Deal with all of the DZIL dependencies, quickly and quietly
  - cpanm --quiet --notest --skip-satisfied Dist::Zilla

  # Hack to getting the latest Test::Kwalitee
  - cpanm --quiet --notest Test::Kwalitee

  # Getting coveralls report integration
  - cpanm --quiet --notest Devel::Cover::Report::Coveralls

  # Getting cover command for Dist::Zilla
  - cpanm --quiet --notest Dist::Zilla::App::Command::cover

  # Getting all the plugins used by Dist::Zilla in this particular setup
  - dzil authordeps --cpanm-versions | perl -p -e 's/"//g' | cpanm --quiet --notest --skip-satisfied

  # Getting all the dependencies requested by distribution
  - dzil listdeps --cpanm-versions | perl -p -e 's/"//g' | cpanm --quiet

script:
- dzil smoke --release --author

after_success:
- dzil cover -outputdir cover_db -report coveralls

notifications:
  slack:
    secure: Q7bx0CkW/hMJ/EMQrg/Chg1CgjeBRunPc58Y6RtrBbSAGHjOUJvzhuWFs3eXqcucTdzZ2y0pK73L+L5kimPusjFjVhK3tYzul0icXbUIEWBqv0ClORnbCFaQuPRanuuooB9UsyXM07PNQZaTGDMoX+KH0Dti6nqY7k/iR9ibVJ0=
